:root {
    --base-color: hsl(4 91 27);
    --primary: hsl(from var(--base-color) h s l);
    --secondary: hsl(from var(--primary) calc(h + 60) s calc(l + 38));
    --accent: hsl(from var(--primary) calc(h + 79) s 40);
    --accent2: hsl(from var(--accent) calc(h - 60) s l);
    --text: hsl(from var(--primary) h calc(s - 2) 7);
    --background: hsl(from var(--primary) calc(h - 4) calc(s - 11) 98);
    --bs-primary-rgb: rgb(from var(--primary) r g b);
    --bs-secondary-rgb: rgb(from var(--secondary) r g b);
    --bs-body-color-rgb: rgb(from var(--text) r g b);
    --bs-body-bg-rgb: rgb(from var(--background) r g b);
}

:root[data-theme="light"] {
    --primary:      hsl(from var(--base-color) h s l);
    --secondary:    hsl(from var(--primary) calc(h + 60) s calc(l + 38));
    --accent:       hsl(from var(--primary) calc(h + 79) s 40);
    --accent2:      hsl(from var(--accent) calc(h - 60) s l);
    --text:         hsl(from var(--primary) h calc(s - 2) 7);
    --background:   hsl(from var(--primary) calc(h - 4) calc(s - 11) 98);
    --bs-primary-rgb:   rgb(from var(--primary) r g b);
    --bs-secondary-rgb: rgb(from var(--secondary) r g b);
    --bs-body-color-rgb:rgb(from var(--text) r g b);
    --bs-body-bg-rgb:   rgb(from var(--background) r g b);
}

:root[data-theme="dark"] {
    --primary:      hsl(from var(--base-color) h s calc(100 - l));
    --secondary:    hsl(from var(--primary) calc(h + 60) s calc(l - 38));
    --accent:       hsl(from var(--primary) calc(h + 79) s 60);
    --accent2:      hsl(from var(--accent) calc(h - 60) s l);
    --text:         hsl(from var(--primary) h calc(s - 2) 93);
    --background:   hsl(from var(--primary) calc(h - 4) calc(s - 8) 2);
}

@font-face {
    font-family: 'nf-body';
    src: url('../font/itim-regular-webfont.woff2') format('woff2'), url('../font/itim-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nf-header';
    src: url('../font/petit_cochon-webfont.woff2') format('woff2'), url('../font/petit_cochon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--background);
    color: var(--text);
    font-family: 'nf-body', 'Comic Sans MS';
}

a {
    color: var(--accent);
}

a:focus,
a:hover,
a:active,
a:visited {
    color: var(--accent2);
}

h1, h2, h3, h4, th, nav {
    color: var(--primary);
    font-family: 'nf-header';
}

nav {
    font-family: 'nf-body', 'Comic Sans MS';
    background-color: var(--background) !important;
}

a.navbar-brand {
    color: var(--primary);
}

li.nav-item {
    height: inherit;
    margin-top: auto;
    margin-bottom: auto;
}

img.nav-logo {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../images/sleep.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

img.nav-logo:hover {
    background-image: url('../images/stand.png');
}

.search-form {
    margin: auto;
    width: 50%;
}

.search-col {
    margin-top: auto;
    margin-bottom: auto;
}

input.search-bar {
    float: left;
    border-radius: 20px;
    background: transparent;
    margin: auto;
}

button.search-btn {
    float: left;
    border: none;
    background: transparent;
    height: 40px;
}

div.search-group {
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    display: inline-block;
}

label.search-datetime-label {
    text-align: right;
    float: right;
    border: none;
}

label.search-datetime-published-label {
    border: none;
    vertical-align: middle;
}

input.search-datetime {
    text-align: center;
    border-radius: 20px;
    background-image: url('../images/fa-calendar.svg');
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: auto 50%;
}

.search-datetime-index {
    text-align: center;
    border-radius: 20px;
    background: transparent;
}

.thumbnail-article {
    background-color: black;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.thumbnail-article-detail {
    background-color: black;
    width: 150px;
    height: 150px;
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

table.article-list > tbody > tr > td {
    vertical-align: middle;
}

.article-list-content {
    max-height: 100px;
    overflow-y: auto;
}