@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) { /* hi-res laptops and desktops */
}

:root {
    --base-color: hsl(4 91 27);
    --primary: hsl(from var(--base-color) h s l);
    --secondary: hsl(from var(--primary) calc(h + 60) s calc(l + 38));
    --accent: hsl(from var(--primary) calc(h + 79) s 40);
    --accent2: hsl(from var(--accent) calc(h - 60) s l);
    --text: hsl(from var(--primary) h calc(s - 2) 7);
    --background: hsl(from var(--primary) calc(h - 4) calc(s - 11) 98);
    --bs-primary-rgb: rgb(from var(--primary) r g b);
    --bs-secondary-rgb: rgb(from var(--secondary) r g b);
    --bs-body-color-rgb: rgb(from var(--text) r g b);
    --bs-body-bg-rgb: rgb(from var(--background) r g b);
}

:root[data-theme="light"] {
    --primary:      hsl(from var(--base-color) h s l);
    --secondary:    hsl(from var(--primary) calc(h + 60) s calc(l + 38));
    --accent:       hsl(from var(--primary) calc(h + 79) s 40);
    --accent2:      hsl(from var(--accent) calc(h - 60) s l);
    --text:         hsl(from var(--primary) h calc(s - 2) 7);
    --background:   hsl(from var(--primary) calc(h - 4) calc(s - 11) 98);
    --bs-primary-rgb:   rgb(from var(--primary) r g b);
    --bs-secondary-rgb: rgb(from var(--secondary) r g b);
    --bs-body-color-rgb:rgb(from var(--text) r g b);
    --bs-body-bg-rgb:   rgb(from var(--background) r g b);
}

:root[data-theme="dark"] {
    --primary:      hsl(from var(--base-color) h s calc(100 - l));
    --secondary:    hsl(from var(--primary) calc(h + 60) s calc(l - 38));
    --accent:       hsl(from var(--primary) calc(h + 79) s 60);
    --accent2:      hsl(from var(--accent) calc(h - 60) s l);
    --text:         hsl(from var(--primary) h calc(s - 2) 93);
    --background:   hsl(from var(--primary) calc(h - 4) calc(s - 8) 2);
}

@font-face {
    font-family: 'nf-body';
    src: url('../font/itim-regular-webfont.woff2') format('woff2'), url('../font/itim-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nf-header';
    src: url('../font/petit_cochon-webfont.woff2') format('woff2'), url('../font/petit_cochon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--background);
    color: var(--text);
    font-family: 'nf-body', 'Comic Sans MS';
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:focus,
a:hover,
a:active,
a:visited {
    color: var(--accent2);
}

h1, h2, th, nav {
    color: var(--primary);
    font-family: 'nf-header';
}

h3, h4 {
    color: var(--secondary);
    font-weight: bold;
}

nav {
    font-family: 'nf-body', 'Comic Sans MS';
    background-color: var(--background) !important;
}

a.navbar-brand {
    color: var(--primary) !important;
    background: none;
}

a.navbar-brand::after {
    content: "";
    background: none;
}

li.nav-item {
    height: inherit;
    margin-top: auto;
    margin-bottom: auto;
}

a.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .15em;
    position: relative;
    display: inline-block;
    padding: 5px 20px;
}

/* create an underline content that shows on hover */
a.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    /* backward compatibility */
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: 0;
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

a.nav-link:hover::after {
    width: 100%;
    left: 0;
}

img.nav-logo {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../images/sleep.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

img.nav-logo:hover {
    background-image: url('../images/stand.png');
}

.search-form {
    margin: auto;
    width: 50%;
}

.form-control:focus {
    border-color: rgba(from var(--secondary) r g b / 1);
    box-shadow: 0 0 0 .25rem rgba(from var(--secondary) r g b /.25);
}

.search-col {
    margin-top: auto;
    margin-bottom: auto;
}

input.search-bar {
    float: left;
    border-radius: 20px;
    background: transparent;
    margin: auto;
}

button.search-btn {
    float: left;
    border: none;
    background: transparent;
    height: 40px;
    padding: 0;
}

button.search-btn > i:hover {
    background-color: transparent;
    filter: drop-shadow(0 0 6px var(--secondary));
    color: var(--accent);
}

div.search-group {
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    display: inline-block;
}

label.search-datetime-label {
    text-align: right;
    float: right;
    border: none;
}

label.search-datetime-published-label {
    border: none;
    vertical-align: middle;
}

input.search-datetime {
    text-align: center;
    border-radius: 20px;
    background-image: url('../images/fa-calendar.svg');
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: auto 50%;
}

.search-datetime-index {
    text-align: center;
    border-radius: 20px;
    background: transparent;
}

.thumbnail-article {
    background-color: black;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.thumbnail-article-detail {
    background-color: black;
    width: 150px;
    height: 150px;
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

table.article-list {
        table-layout: fixed;
}
@media (min-width:641px) {
    table.article-list {
        table-layout: auto;
    }
}

table.article-list > tbody > tr > td {
    vertical-align: middle;
}

.article-list-content {
    max-height: 100px;
    overflow-y: auto;
}

svg.rough-annotation {
    position: absolute;
}