@{
    ViewData["Title"] = "Theme Demo";
}

<div class="container">
    <div class="row">
        <div class="col-1 theme-demo">
            <div class="theme-demo-color" style="background-color: var(--primary);"></div>
            <p class="theme-demo-text">primary</p>
        </div>
        <div class="col-1 theme-demo">
            <div class="theme-demo-color" style="background-color: var(--secondary);"></div>
            <p class="theme-demo-text">secondary</p>
        </div>
        <div class="col-1 theme-demo">
            <div class="theme-demo-color" style="background-color: var(--tertiary);"></div>
            <p class="theme-demo-text">tertiary</p>
        </div>
        <div class="col-1 theme-demo">
            <div class="theme-demo-color" style="background-color: var(--accent);"></div>
            <p class="theme-demo-text">accent</p>
        </div>
        <div class="col-1 theme-demo">
            <div class="theme-demo-color" style="background-color: var(--accent2);"></div>
            <p class="theme-demo-text">accent2</p>
        </div>
        <div class="col-1 theme-demo">
            <div class="theme-demo-color" style="background-color: var(--text);"></div>
            <p class="theme-demo-text">text</p>
        </div>
        <div class="col-1 theme-demo">
            <div class="theme-demo-color" style="background-color: var(--background);"></div>
            <p class="theme-demo-text">background</p>
        </div>
        <div class="col-1 theme-demo">
            <div class="theme-demo-color" style="background-color: var(--shade);"></div>
            <p class="theme-demo-text">shade</p>
        </div>
        <div class="col-1 theme-demo">
            <div class="theme-demo-color" style="background-color: var(--bs-primary);"></div>
            <p class="theme-demo-text">bs-primary</p>
        </div>
        <div class="col-1 theme-demo">
            <div class="theme-demo-color" style="background-color: var(--bs-success);"></div>
            <p class="theme-demo-text">bs-success</p>
        </div>
        <div class="col-1 theme-demo">
            <div class="theme-demo-color" style="background-color: var(--bs-info);"></div>
            <p class="theme-demo-text">bs-info</p>
        </div>
        <div class="col-1 theme-demo">
            <div class="theme-demo-color" style="background-color: var(--bs-warning);"></div>
            <p class="theme-demo-text">bs-warning</p>
        </div>
        <div class="col-1 theme-demo">
            <div class="theme-demo-color" style="background-color: var(--bs-danger);"></div>
            <p class="theme-demo-text">bs-danger</p>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Title</h1>
    <h2>Subtitle</h2>
    <h3>Section heading</h3>
    <h4>Subsection heading</h4>
    <h5>Paragraph heading</h5>
    <p>body text</p>
    <a href="#">link</a>
    <div class="container">
        <div class="col-3">
            <label class="search-datetime-published-label">Label</label>
        </div>
        <div class="row">
            <div class="col-4">
                <input class="form-control search-bar" type="text" name="searchArticle" placeholder="Text input"/>
            </div>
            <div class="col-1">
                <button class="form-control search-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div class="col-1">
                <button class="form-control search-btn" type="submit">Button</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 20px;">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">
        <div class="col card-flip">
            <div class="card h-100 card-front">
                <img src="~/images/stand.png" class="card-img-top" alt="sample image" />
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Card Footer</small>
                </div>
            </div>
            <div class="card-back">
                <p class="card-text">
                    Card body text.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin velit neque, placerat in lacus vitae, condimentum ultrices massa. Proin fermentum elementum dolor eget facilisis. Phasellus eu lacus ut tortor mattis porta. Mauris fermentum libero non imperdiet porta. Praesent sem lorem, tincidunt nec auctor vitae, cursus ac tellus. Praesent et ultrices ex. Etiam blandit mattis velit eget lobortis. Vestibulum lacus justo, consequat id euismod at, suscipit non odio. Duis et molestie quam. Praesent sed eros nunc.

                    Maecenas sed nulla eleifend, porttitor lorem sed, mattis mi. Etiam ultrices, ex id lobortis lacinia, neque odio ultrices turpis, eget lacinia est diam id justo. Aenean quis vulputate velit. Vivamus feugiat, ante nec hendrerit malesuada, odio turpis volutpat erat, at mattis turpis nisl ut magna. Sed nec rhoncus est, ut fermentum orci. Donec convallis quis velit quis sodales. Donec sagittis magna laoreet, rutrum massa id, eleifend justo. Nunc at bibendum urna. Nulla odio velit, iaculis sed lorem in, gravida consectetur arcu. Aenean massa erat, ultricies in tellus non, vehicula hendrerit metus.
                </p>
                <div class="card-footer">
                    <nav class="nav nav-pills flex-column flex-sm-row">
                        <a class="flex-sm-fill text-sm-center nav-link article-card-ctrl">Link</a>
                        <a class="flex-sm-fill text-sm-center nav-link article-card-ctrl">Link</a>
                        <a class="flex-sm-fill text-sm-center nav-link article-card-ctrl">Link</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>