@model             Article

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Published" class="control-label"></label>
                <input readonly asp-for="Published" class="form-control edit-article-published" />
                <span asp-validation-for="Published" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thumbnail" class="control-label"></label>
                <input asp-for="Thumbnail" class="form-control" />
                <span asp-validation-for="Thumbnail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea id="tiny" class="form-control">@Html.DisplayFor(model => model.Content)</textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </form>
    </div>
    <div class="col-4">
        <div class="thumbnail-article-detail" style="background-image: url(@Model.Thumbnail)"></div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />&nbsp;|&nbsp;
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/simplemde/dist/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE();
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link rel="stylesheet" href="~/lib/simplemde/dist/simplemde.min.css" />
}